.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

label {
  color: #657786;
}

.login { max-height: inherit; }

#username, #password {
  border: none;
}

input {
  color: rgb(20, 23, 26);
  padding: 2px 10px 5px 10px;
  font-size: 19px;
}

.loginDetailsContainer {
  background-color: #f6f8fa;
  margin-right: 15px;
  padding: 5px 10px 0 10px;
  border-bottom: 2px solid rgb(118, 118, 118);
}

.loginDetailsContainer label,
.loginDetailsContainer input {
  background-color: #f6f8fa;
  width: 200px;
}

.loginDetailsContainer input {
  outline: none;
}

#topLogInButton {
  padding: 0 15px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #1da1f3;
  border: 1px solid #1da1f2;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  height: 37px;
  font-size: 15px;
  outline: none;
}

#topLogInButton:hover {
  background-color: #e8f5fe;
  cursor: pointer;
}

.forgotPassword {
  line-height: 1.3125;
  color: #1b95e0;
  font-weight: 400;
  line-height: 17px;
  white-space: pre-wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#forgotPasswordContainer {
  margin-top: 5px;
  position: relative;
  left: 325px;
}

/* .loginDetailsContainer:focus {
  color: #1da1f3;
} */
